<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bfb88c03-0313-4d1a-a5f0-6f52dc84645d/resourceGroups/Certificate_Management/providers/Microsoft.Web/sites/CertificateManagement</ResourceId>
    <ResourceGroup>Certificate_Management</ResourceGroup>
    <ApiResourceId>/subscriptions/bfb88c03-0313-4d1a-a5f0-6f52dc84645d/resourceGroups/Certificate_Management/providers/Microsoft.ApiManagement/service/CertificateManagementBEapi/apis/CertificateManagementBE</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://certificatemanagement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7a7cead8-f82c-4d3d-b0ee-c0f20de66229</ProjectGuid>
    <MSDeployServiceURL>certificatemanagement.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CertificateManagement</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CertificateManagement</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>